        <form action = "/cart" method = "post">
            <button type = 'submit' class = "btn">
            <input type = "hidden" name = "productId" value = "<%=product.id%>" >
            Add To Cart
            </button>
        </form>